.heading{
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    width: 100%;
    margin: 0px;
    color: black;
    font-weight: bold;
}
.note{
    font-size: 12px;
    color: crimson;
    font-weight: bold;
}
body{
    background-size: cover;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
.div_speed{
    float: left;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.play_button{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    font-style: italic;
    color: firebrick;
}
canvas{
    border: 5px limegreen;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lemonchiffon;
}